@import url('https://fonts.googleapis.com/css2?family=Varta:wght@400;700&display=swap');

@import "_header";

@import "_footer";

@import "_footer2";

// VARIABLE: FUENTE

$font: 'Varta', sans-serif;

// VARIABLE: COLOR

$color1: black;
$color2: white;
$color3: #d4bf97;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}

body{
    max-width: 100%;
}

// SCROLL BAR

// MIXIN

@mixin scrollbar ($b-color, $width, $border){
    background-color: $b-color;
    width: $width;
    border: $border;
}

::-webkit-scrollbar-track{
    @include scrollbar($color1, 100% , none)
}
::-webkit-scrollbar{
    @include scrollbar($color1, 12px , none)
}
::-webkit-scrollbar-thumb{
    @include scrollbar($color3, 100% , solid 2px $color1)
}

// SHOP

.titulo{
    color: $color1;
    background-color: $color3;
    text-align: center;
    padding: 50px 50px 20px 50px;

        h3{
            font-weight:500;
        }
}

// .galeria-discos{
//     // padding: 0 0 30px 0;
    
// }

.galeria-disco{
    transition: all 400ms;
    padding: 0px 0 70px 0;
    align-items: center;
    background-color: $color3;

    img{
        max-width: 300px;
        transition: all 400ms;
        &:hover{transform: scale(1.05)}
    }
}

.card-title{
    color: $color1;
    text-align: center;
}

.item-price{
    color: $color1;
    text-align: center;
}

.btn-comprar{
    text-align: center;
    display: block;
    align-items: center;
    color: $color3;
    background-color: $color1;
    text-decoration: none;
    padding: 10px;
    border: 1px solid $color3;

    &:hover{background-color: #d4bf97; color: black; border: 1px solid $color1;}
}

//FORMULARIO

.form-control {
    background-color: $color1;
    color: $color3;
}

.form-label{
    color: $color1
}

.contenedor-formulario{
    padding: 10px 0 70px 0;
    h3{color:$color1}
}

.table{
    border-bottom-color: $color1;
}

// MEDIA QUERIES

@media only screen and (max-width: 1386px){

    // HEADER

    .header{
        padding: 10px 20px;
        display: grid;
        grid-template-areas:
        "label nombreBanda";

        h1{
            padding-top: 4px;
            padding-right: 20px;
        }

        label{
            margin:10px
        }
    }
    label{
        grid-area: label;
    }
    .nombreBanda{
        grid-area: nombreBanda;
    }

    // BOTÓN DE MENÚ

    #menu-button:checked ~ ul{
        right: 0;
    }
    .check{
        display: flex;
    }

    // NAV

    .nav{
        position: fixed;
        background-color: $color1;
        top: 80px;
        width: 50%;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        text-align: center;
        left: -100%;
        transition: all 0.8s;

        ul{
            flex-direction: column;
            position: fixed;
        }

        ul li{
            line-height: 50px;
        }

        ul li a{
            font-size: 20px;
        }
    }

    #menu-button:checked ~ nav{
        left: 0
    }

}